* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:rgb(20, 19, 1);
    font-family: 'Open Sans', sans-serif;
    color: white;
    
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 350px;
}

.input {
    display: block;
    margin-bottom: 1.25rem;
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    caret-color:#141301;
}

.input:focus {
    outline-style: none;
    box-shadow: 0 0 7px 1px #F2D443;
}

.input-modal {
    display: block;
    margin-bottom: 1.25rem;
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: .75rem;
    font-size: 1rem;
    caret-color:#141301;
}

.input-modal:focus {
    outline-style: none;
    box-shadow: 0 0 7px 1px #F2D443;
}

.submit {
    background-color: yellowgreen;
    border-radius: 4px;
    border: none;
    padding: .375rem;
    font-family: 'Viga', sans-serif;
    font-size: 1.375rem;
    color: 141301;
}

.submit:hover {
    color: white;
}

.submit:active {
    color: yellowgreen;
}

.modal-add {
    width: 100%;
    margin-top: 1.25rem;
    background-color: yellowgreen;
    border-radius: 4px;
    border: none;
    padding: .375rem;
    font-family: 'Viga', sans-serif;
    font-size: 1.375rem;
    color: 141301;
}

.modal-add:hover {
    color: white;
}

.modal-add:active {
    color: yellowgreen;
}

.create {
    font-size: 1rem;
    position: relative;
    top: 3px;
}

.button-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.inform-form {
    width: 100%;
}

.input-label {
    margin-bottom: .375rem;
    font-weight: 300; 
    font-style: italic;
}

.message {
    display: block;
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    border-radius: 4px;
    background-color:#DA7422;
    width: 225px;
    animation-delay: 1.2s;
    transition: all 0.15s;
}

.hide {
    opacity: 0;
}

.page-title {
    color: #F2D443;
    font-family: 'Viga', sans-serif;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.login-logo {
    width: 65px;
    height: 65px;
}

.nav {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.bar {
    display: flex;
    width: 75%;
}

.search-first {
    border: none;
    border-right: .125rem solid rgb(20, 19, 1);
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    padding: .375rem;
    padding-left: 1rem;
    font-size: 1rem;
    caret-color:#141301;
}

.search-last {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    width: 100%;
    padding: .375rem;
    padding-left: .75rem;
    font-size: 1rem;
    caret-color:#141301;
}

.search-first:focus {
    outline-style: none;
    box-shadow: 0 0 7px 1px #F2D443;
}

.search-last:focus {
    outline-style: none;
    box-shadow: 0 0 7px 1px #F2D443;
}


.material-icons.md-light { 
    color: rgba(255, 255, 255, 1); 
    font-size: 36px;
    transition: all 0.15s;
    cursor: pointer;
}

.material-icons.md-dark { 
    color: rgb(20, 19, 1);
    font-size: 24px;
    transition: all 0.15s;
    cursor: pointer;

}

.material-icons-outlined { 
    color: rgb(32,32,22);
    font-size: 24px;
    transition: all 0.15s;
    cursor: pointer;
}

.material-icons-outlined:hover {
    color: #DA7422;
    cursor: pointer;
}

.material-icons.md-dark:hover { 
    color: white;
}

.material-icons.md-light:hover { 
    color: #DA7422;
}

.material-icons.md-light.md-inactive { 
    color: rgba(255, 255, 255, 0.3); 
}

.material-icons.md-dark.md-inactive { 
    color: rgba(0, 0, 0, 0.26); 
}

.search-icon {
    color: rgb(20, 19, 1);
    border: none;
    border-left: 2px solid rgb(20, 19, 1);
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    padding: .375rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #F2D443;
}

.add-icon {
    color: #141301;
    border: none;
    border-left: 2px solid rgb(20, 19, 1);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    padding: .375rem;
    padding-left: .375rem;
    padding-right: .5rem;
    background-color: yellowgreen;
}

.logout-icon {
    position: fixed;
    bottom: 15px;
    right: 30px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.card-button {
    float: right;
    cursor: pointer;
}


#contactSearchResult {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    background-color: #DA7422;
}

.card {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 18px;
    background-color: rgb(32,32,22);
    color: white;
    border: none;
    border-radius: 8px;
    margin: .375rem;
    padding: 1rem;
    box-sizing: border-box;
}

.card-name {
    font-size: 26px; 
    font-weight: 700;
    margin-bottom: .75rem;
}

.card-phone {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}

.card-phone-line {
    margin-bottom: .5rem;
}

.card-email {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}

.contact-container {
    margin: 50px auto;
    width: 100%;
    max-width: 1250px;
}

.contact-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .8125);
}

.modal-content {
    background-color: rgb(20, 19, 1);
    margin: 15% auto;
    border-radius: 8px;
    padding: 3rem;
    width: 100%;
    max-width: 500px;
}

#addContactButton {
    width: 100%;
    margin-top: .5rem;
}

.modal-close {
     display: flex;
     justify-content: end;
}

.card-button {
    position: relative;  
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: #F2D443;
}

a:active {
    color: yellowgreen;
}

