* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #141301;
    font-family: 'Open Sans', sans-serif;
    color: white;
    
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 350px;
}

.input {
    display: block;
    margin-bottom: 1.25rem;
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    caret-color:#141301;
}

.input:focus {
    outline-style: none;
    box-shadow: 0 0 7px 1px #F2D443;
}

.submit {
    background-color: yellowgreen;
    border-radius: 4px;
    border: none;
    padding: .375rem;
    font-family: 'Viga', sans-serif;
    font-size: 1.375rem;
    color: 141301;
}

.submit:hover {
    color: white;
}

.submit:active {
    color: yellowgreen;
}

.create {
    font-size: 1rem;
    position: relative;
    top: 3px;
}

.button-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.inform-form {
    width: 100%;
}

.input-label {
    margin-bottom: .375rem;
    font-weight: 300; 
    font-style: italic;
}

.message {
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    border-radius: 4px;
    background-color:#DA7422;
    width: 200px;
}

.hide {
    opacity: 0;
}

.page-title {
    color: #F2D443;
    font-family: 'Viga', sans-serif;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.logo {
    padding-bottom: 1.5rem;
}

.login-logo {
    width: 75px;
    height: 75px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search {
    display: flex;
    border-radius: 8px;
    margin-right: 1rem;
    border: none;
    width: 100%;
    padding: .3rem;
    font-size: 1rem;
    caret-color:#141301;
}

.search:focus {
    outline-style: none;
    box-shadow: 0 0 7px 1px #F2D443;
}

.material-icons.md-light { 
    color: rgba(255, 255, 255, 1); 
    font-size: 36px;

}

.material-icons.md-light.md-inactive { 
    color: rgba(255, 255, 255, 0.3); 
}

button {
    background: none;
    border: none;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: #F2D443;
}

a:active {
    color: yellowgreen;
}

